.oldList {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.oldList th {
    padding: 5px 10px;
}

.oldList thead th {
    background: rgba(16, 171, 128, 0.37);
}

.oldList tbody th {
    background: rgba(13, 171, 231, 0.41);
}